<% if @saml_idp_fail_msg %>
  <div id="saml_idp_fail_msg" class="flash error"><%= @saml_idp_fail_msg %></div>
<% end %>
<body onload="document.forms[0].submit();" style="visibility:hidden;">
<%= form_tag do %>
  <%= hidden_field_tag("SAMLRequest", params[:SAMLRequest]) %>
  <%= hidden_field_tag("RelayState", params[:RelayState]) %>
  <%= hidden_field_tag("password", '123123123') %>
  <%= hidden_field_tag("email", 'test@test.com') %>
<% end %>
</body>